:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-image {
  max-width: 350px;
  width: 100%;
  max-height: 350px;
}

.Nav-Bar {
  margin-bottom: 15px;
  height: 100px;
  z-index: 1;
  position: fixed !important;
  width: 100%;
}
.nav-link {
  margin-left: 15px;
}
.Cart-Count {
  position: absolute;
  margin-left: -3px;
  margin-top: -3px;
}

.Logo {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  margin-left: -50px;
  margin-top: -83px;
  position: fixed;
  z-index: 1;
  clip-path: circle(30% at 50%);
}
.rating span {
  color: #ffc000;
}

img.large {
  max-width: 100%;
}
.img-fluid.rounded.img-thumbnail {
  height: 100px;
  width: 100px;
}
.clear-save {
  margin-top: 20px;
  margin-left: 627px;
}
.clear-cart {
  margin-left: 10px;
}

/* .mb-3 {
  max-width: 450px;
} */

.small-container {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  max-width: 450px !important;
  width: 100%;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.container.small-container.shipping {
  margin-top: 50px;
}
.shipping-input {
  border: 0.3px solid gray !important;
}
.container.small-container.payment {
  margin-top: 50px;
}
.mb-3.preview {
  border: 1px solid gray !important;
}
.preview {
  border: 1px solid gray !important;
}

/* Product Card Component */
.Product-Card {
  margin: 10px;
  transform: translateY(120px);
}
.product-map-container {
  margin-bottom: 500px;
}
/* Product Page */
.product-page {
  margin-top: 150px;
  margin-bottom: 200px;
}
/* Signin page */
.signin-page-container {
  margin-top: 180px;
  margin-bottom: 200px;
}
.custom-border {
  border: 0.3px solid gray !important;
}
/* Cart Page */
.cart-page {
  margin-top: 150px;
  margin-bottom: 200px;
}
.cart-border {
  border-color: gray !important;
}
/* Signup page */
.signup-page-container {
  margin-top: 150px;
  margin-bottom: 200px;
}
.signup-border {
  border: 1px solid gray !important;
}
.small-container {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
/* Shipping Addres */
.shipping-address-container {
  margin-top: 150px;
  margin-bottom: 200px;
}
/* Payment Method */
.payment-method-container {
  margin-top: 150px;
  margin-bottom: 200px;
}
/* Place Order */
.place-order-container {
  margin-top: 150px;
  margin-bottom: 200px;
}
/* Order History */
.order-history-container {
  margin-top: 150px;
  margin-bottom: 200px;
}
.order-page-container {
  margin-top: 150px;
  margin-bottom: 200px;
}

.Product-Col {
  margin-bottom: 2rem;
}
.dropdown-menu {
  left: auto !important;
  right: 10px !important;
}

/* Cover Page */
/* Search Bar */
.Search-Input {
  max-width: 500px;
  margin-left: 150px;
}
.fas.fa-search {
  color: black;
}
#button-search {
  border-color: black;
}
.cover-page {
  background: url('bg1.png') no-repeat right center;
  background-size: 80% auto;
  width: 100vw;
  height: 100vh;
  padding-right: 170px;
}

.splash {
  filter: brightness(0) saturate(100%) invert(84%) sepia(98%) saturate(1171%)
    hue-rotate(323deg) brightness(101%) contrast(95%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-left: 300px;
  margin-top: -200px;
}
.bg-color {
  min-height: 100vh; /* This will cover the full height of the viewport */
  width: 100vw; /* This will cover the full width of the viewport */
  margin: 100px 0 0 -20px; /* This ensures there is no margin around the container */
  padding: 0; /* This ensures there is no padding inside the container */
  position: absolute; /* This positions the container relative to the viewport */
  top: 0; /* This aligns the container to the top of the viewport */
  left: 0; /* This aligns the container to the left of the viewport */
}
.cover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 80px; */
  margin-bottom: 300px;
  margin-top: 60px;
}
.container.border.rounded {
  max-width: 700px;
  height: 400px;
  margin-left: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.shop {
  height: 50px;
  width: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
}
.bi.bi-arrow-right {
  margin-left: 10px;
}
.shop-link {
  text-decoration: none;
  color: black;
}
/* Footer */
.footer {
  background-color: #dfe9ce;
}
.pt-3 {
  color: black;
  padding-left: 80px !important;
  padding-bottom: 20px;
}
/* loading */
.loading-design {
  display: flex; /* Make container a flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

  margin-top: 400px;
  margin-bottom: 400px;
  position: relative;
}
.logo-loading {
  width: 300px;
  height: 300px;
  position: absolute;
}
/* footer page */
.follow-icons {
  border: none !important;
  background-color: transparent !important;
}
.follow-icons:active {
  color: black !important;
}
